<app-header-style-seven />

<app-homefourteen-main-banner />

<div class="pt-100">
    <app-features-style-three />
</div>

<app-homethirteen-popular-courses />

<app-homefourteen-about />

<app-funfacts-style-four />

<app-free-trial-form />

<app-homethirteen-courses />

<div class="testimonials-wrap-area bg-e7f0fd pt-100">
    <app-happy-students-feedback />
</div>

<app-free-trial-two />

<div class="overview-connections-area bg-faf8f8 pb-75">
    <app-make-connections />
</div>

<app-instructors-style-four />

<app-start-free-courses />