@import "../../business-coaching/homeeight-courses/homeeight-courses.component";

.bg-dark {
    .courses-info {
        p {
            a {
                &:hover {
                    color: var(--whiteColor);
                }
            }
        }
    }
    .courses-box {
        background-color: #100f1f;
        box-shadow: unset !important;

        .courses-image {
            .price {
                border-color: #100f1f;
            }
        }
        .courses-content {
            .courses-box-footer {
                li {
                    color: #d4d4d4;
                }
            }
        }
    }
}