<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img
                        src="images/about/about1.jpg"
                        class="shadow"
                        alt="image"
                    />
                    <img
                        src="images/about/about2.jpg"
                        class="shadow"
                        alt="image"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Us</span>
                    <h2>Learn New Skills to Advance Your Career</h2>
                    <h6>
                        24/7 Support for National and International Students
                    </h6>
                    <p>
                        Gain the expertise you need to take the next step in
                        your career. Our platform offers a wide range of courses
                        designed to help you stay competitive and achieve your
                        professional goals.
                    </p>
                    <div class="features-text">
                        <h5>
                            <i class="bx bx-planet"></i>A place where you can
                            achieve
                        </h5>
                        <p>
                            Our dedicated support team is available around the
                            clock to assist students, no matter where they are
                            in the world. We're here to ensure you have a smooth
                            and successful learning experience.
                        </p>
                    </div>
                    <a
                        routerLink="/courses-2-columns-style-1"
                        class="default-btn"
                        ><i class="bx bx-move-horizontal icon-arrow before"></i
                        ><span class="label">View Courses</span
                        ><i class="bx bx-move-horizontal icon-arrow after"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</div>
