<section class="funfacts-style-three bg-dark bg-100f1f">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div
                    class="single-funfacts-item"
                    style="background-image: url(images/funfacts-bg1.png);"
                >
                    <h3>1926</h3>
                    <p>Finished Sessions</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div
                    class="single-funfacts-item"
                    style="background-image: url(images/funfacts-bg2.png);"
                >
                    <h3>3279</h3>
                    <p>Enrolled Learners</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div
                    class="single-funfacts-item"
                    style="background-image: url(images/funfacts-bg3.png);"
                >
                    <h3>250</h3>
                    <p>Online Instructors</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div
                    class="single-funfacts-item"
                    style="background-image: url(images/funfacts-bg4.png);"
                >
                    <h3>100%</h3>
                    <p>Satisfaction Rate</p>
                </div>
            </div>
        </div>
    </div>
</section>