<app-header-style-seven />

<app-homethirteen-main-banner />

<app-homethirteen-popular-courses />

<app-features-style-three />

<app-homethirteen-about />

<app-homethirteen-courses />

<div class="motivation-partner-area bg-color-with-gradient ptb-100">
    <div class="container">
        <app-partner-style-one />
    </div>
</div>

<div class="overview-connections-area pt-100 pb-75">
    <app-make-connections />
</div>

<app-instructors-style-four />

<app-become-partner-teacher />

<div class="testimonials-wrap-area ptb-100">
    <app-happy-students-feedback />
</div>

<app-hometwelve-blog />