<section
    class="funfacts-style-two pt-100 pb-75"
    [class.dark-funfacts-style-two]="themeService.isDark()"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div
                    class="single-funfacts-box"
                    style="background-image: url(images/business-coaching/funfacts-bg.jpg);"
                >
                    <h3>1926</h3>
                    <p>Finished Sessions</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div
                    class="single-funfacts-box"
                    style="background-image: url(images/business-coaching/funfacts-bg.jpg);"
                >
                    <h3>3279</h3>
                    <p>Enrolled Learners</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div
                    class="single-funfacts-box"
                    style="background-image: url(images/business-coaching/funfacts-bg.jpg);"
                >
                    <h3>250</h3>
                    <p>Online Instructors</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div
                    class="single-funfacts-box"
                    style="background-image: url(images/business-coaching/funfacts-bg.jpg);"
                >
                    <h3>100%</h3>
                    <p>Satisfaction Rate</p>
                </div>
            </div>
        </div>
    </div>
</section>