<div class="courses-categories-slides">
    <owl-carousel-o [options]="categoriesSlides">
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-code-alt'></i>
                </div>
                <h3>English Learning</h3>
                <span>60 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-camera'></i>
                </div>
                <h3>Health </h3>
                <span>21 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-layer'></i>
                </div>
                <h3>Professional Development</h3>
                <span>58 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bxs-flag-checkered'></i>
                </div>
                <h3>Nursing</h3>
                <span>99 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-health'></i>
                </div>
                <h3>Personal Growth</h3>
                <span>21 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-line-chart'></i>
                </div>
                <h3>Fitness</h3>
                <span>49 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-line-chart'></i>
                </div>
                <h3>Nutrition</h3>
                <span>49 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-line-chart'></i>
                </div>
                <h3>Information Technology</h3>
                <span>49 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-line-chart'></i>
                </div>
                <h3>Videography</h3>
                <span>49 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-25">
                <div class="icon">
                    <i class='bx bx-line-chart'></i>
                </div>
                <h3>Emerging Technologies</h3>
                <span>49 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
