.training-course-banner-area {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    padding: {
        top: 100px;
        bottom: 100px;
    };
    .container-fluid {
        padding: {
            left: 60px;
            right: 60px;
        };
    }
    &.dark-training-course-banner-area {
        background: #000000 !important;

        .training-course-banner-content {
            .trusted-by-content {
                .title {
                    color: var(--whiteColor);
                }
                .single-partner-item {
                    a {
                        img {
                            filter: brightness(100);
                        }
                    }
                }
            }
        }
    }
}
.training-course-banner-content {
    h1 {
        font-size: 70px;
        margin-bottom: 25px;
        font-weight: bold;

        span {
            color: var(--mainColor);
        }
    }
    p {
        margin-bottom: 0;
        max-width: 650px;
    }
    .btn-box {
        margin-top: 30px;
    }
    .trusted-by-content {
        margin-top: 45px;

        .title {
            margin-bottom: 25px;
            color: #002846;
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            text-transform: uppercase;
        }
        .single-partner-item {
            text-align: center;
            position: relative;

            a {
                img {
                    max-width: 90px;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .training-course-banner-area {
        padding: {
            top: 60px;
            bottom: 60px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
    }
    .training-course-banner-content {
        h1 {
            font-size: 32px;
        }
    }
    .training-course-banner-image {
        text-align: center;
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .training-course-banner-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .training-course-banner-area {
        padding: {
            top: 80px;
            bottom: 80px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .training-course-banner-content {
        h1 {
            font-size: 55px;
        }
    }
    .training-course-banner-image {
        text-align: center;
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .training-course-banner-area {
        .container-fluid {
            max-width: 960px;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
    }
    .training-course-banner-content {
        h1 {
            font-size: 55px;
        }
    }

}

/* Min width 1200px to Max width 1275px */
@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .training-course-banner-area {
        .container-fluid {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    .training-course-banner-area {
        .container-fluid {
            max-width: 2000px;
            padding: {
                left: 125px;
                right: 125px;
            };
        }
    }

}