<div
    class="testimonials-slides"
    [class.dark-testimonials-slides]="themeService.isDark()"
>
    <owl-carousel-o [options]="testimonialsSlides">
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    This program was a game-changer! I learned so much and made
                    amazing friends. The hands-on activities made everything
                    click. Totally recommend it to anyone looking to grow!
                </p>
                <div class="info">
                    <img
                        src="images/user1.jpg"
                        class="shadow rounded-circle"
                        alt="image"
                    />
                    <h3>John Smith</h3>
                    <span>Student</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    Partnering with this team was awesome! They brought fresh
                    ideas and energy. Our event was a huge success, and we
                    couldn’t have done it without their support. Highly
                    recommend them!.
                </p>
                <div class="info">
                    <img
                        src="images/user2.jpg"
                        class="shadow rounded-circle"
                        alt="image"
                    />
                    <h3>Sarah Taylor</h3>
                    <span>Student</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    I’ve seen my students thrive thanks to this initiative. The
                    resources are top-notch, and the engagement is off the
                    charts. It’s inspiring to watch them grow and learn in such
                    a fun way!
                </p>
                <div class="info">
                    <img
                        src="images/user3.jpg"
                        class="shadow rounded-circle"
                        alt="image"
                    />
                    <h3>David Warner</h3>
                    <span>Student</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    I was nervous at first, but this program made learning super
                    fun! The instructors are super chill, and I actually look
                    forward to classes now. Best experience ever!
                </p>
                <div class="info">
                    <img
                        src="images/user4.jpg"
                        class="shadow rounded-circle"
                        alt="image"
                    />
                    <h3>James Anderson</h3>
                    <span>Student</span>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    Working with this group was a breeze! They’re professional,
                    creative, and really understand our mission. They helped us
                    reach a wider audience and made a real impact!
                </p>
                <div class="info">
                    <img
                        src="images/user4.jpg"
                        class="shadow rounded-circle"
                        alt="image"
                    />
                    <h3>James Anderson</h3>
                    <span>Student</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    I love how this program encourages creativity in my
                    students. They’re more engaged than ever, and it’s so
                    rewarding to see them excited about learning. I wish every
                    class could be like this!
                </p>
                <div class="info">
                    <img
                        src="images/user4.jpg"
                        class="shadow rounded-circle"
                        alt="image"
                    />
                    <h3>James Anderson</h3>
                    <span>Student</span>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
