.services-area {
    position: relative;
    z-index: 1;

    .section-title {
        h2 {
            max-width: 720px;
            margin: {
                left: auto;
                right: auto;
            };
        }
    }
    &.dark-services-area {
        .services-box {
            border-color: #000000;
        
            .icon {
                color: var(--whiteColor);
            }
            &:hover {
                border-color: var(--mainColor);
        
                .icon, p, h3 {
                    color: var(--whiteColor);
                }
            }
        }
        .single-services-box {
            .icon {
                border-color: #3a3737;
                background-color: var(--blackColor);
            }
            &:hover {
                .icon {
                    background-color: var(--mainColor2);
                    border-color: var(--mainColor2);
                }
            }
        }
    }
}
.single-services-box {
    margin-bottom: 25px;
    position: relative;
    padding-left: 92px;

    .icon {
        left: 0;
        top: 2px;
        width: 70px;
        height: 70px;
        font-size: 40px;
        line-height: 69px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        color: var(--mainColor2);
        border: 1px solid #d0e1dc;
        transition: var(--transition);
        background-color: var(--whiteColor);
        animation: border-transform 10s linear infinite alternate forwards;
    }
    h3 {
        margin-bottom: 13px;
        font: {
            size: 24px;
            weight: 700;
        };
    }
    &:hover {
        .icon {
            background-color: var(--mainColor2);
            border-color: var(--mainColor2);
            color: var(--whiteColor);
        }
    }
}
.services-box {
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    transition: var(--transition);
    border: 4px solid #fbf1f2;
    padding: 30px 30px 30px 90px;

    .icon {
        top: 32px;
        left: 30px;
        line-height: 1;
        font-size: 40px;
        position: absolute;
        color: var(--blackColor);
        transition: var(--transition);
    }
    h3 {
        margin-bottom: 8px;
        transition: var(--transition);
        font: {
            size: 22px;
            weight: 700;
        };
    }
    p {
        transition: var(--transition);
    }
    &:hover {
        color: var(--whiteColor);
        border-color: var(--mainColor);
        background-color: var(--mainColor);

        .icon, p, h3 {
            color: var(--whiteColor);
        }
    }
}
.services-btn {
    text-align: center;
    margin-top: 10px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .services-area {
        .section-title {
            h2 {
                max-width: 100%;
            }
        }
    }
    .single-services-box {
        padding-left: 0;
        text-align: center;

        .icon {
            position: relative;
            top: 0;
            margin: {
                left: auto;
                bottom: 20px;
                right: auto;
            };
        }
        h3 {
            margin-bottom: 12px;
            font-size: 18px;
        }
    }
    .services-box {
        border-width: 2px;
        padding: 20px 15px;
        text-align: center;

        .icon {
            position: relative;
            left: 0;
            top: 0;
            font-size: 30px;
            margin: {
                left: auto;
                right: auto;
                bottom: 18px;
            };
        }
        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-services-box {
        h3 {
            font-size: 22px;
        }
    }
    .services-box {
        padding: 25px 25px 25px 85px;

        .icon {
            left: 25px;
            top: 26px;
            font-size: 35px;
        }
        h3 {
            font-size: 20px;
        }
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-services-box {
        h3 {
            font-size: 23px;
        }
    }
    .services-box {
        border-width: 2px;
        padding: 25px 25px 25px 80px;

        .icon {
            left: 25px;
            top: 27px;
            font-size: 35px;
        }
        h3 {
            font-size: 19px;
        }
    }

}

/* Min width 1200px to Max width 1275px */
@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}