<app-header-style-two />

<div
    class="courses-details-area pt-100 pb-75"
    [class.dark-courses-details-area]="themeService.isDark()"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="courses-details-desc">
                    <h3>Meet your instructors</h3>
                    <div class="courses-author">
                        <div
                            class="author-profile-header"
                            style="background-image: url(images/bg.jpg)"
                        ></div>
                        <div class="author-profile">
                            <div class="author-profile-title">
                                <img
                                    src="images/user1.jpg"
                                    class="shadow-sm rounded-circle"
                                    alt="image"
                                />
                                <div
                                    class="author-profile-title-details d-flex justify-content-between"
                                >
                                    <div class="author-profile-details">
                                        <h4>James Anderson</h4>
                                        <span class="d-block"
                                            >Photographer, Author, Teacher</span
                                        >
                                    </div>

                                    <div class="author-profile-raque-profile">
                                        <a
                                            routerLink="/single-instructor"
                                            class="d-inline-block"
                                            >View Profile on Ednuv</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <p>
                                James Anderson is a celebrated photographer,
                                author, and teacher who brings passion to
                                everything he does.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since
                                the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="comments-area">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a Reply</h3>
                            <form class="comment-form">
                                <p class="comment-form-comment">
                                    <label>Comment</label>
                                    <textarea
                                        name="comment"
                                        id="comment"
                                        cols="45"
                                        placeholder="Your Comment..."
                                        rows="5"
                                        maxlength="65525"
                                        required="required"
                                    ></textarea>
                                </p>
                                <p class="comment-form-cookies-consent"></p>
                                <p class="form-submit">
                                    <input
                                        type="submit"
                                        name="submit"
                                        id="submit"
                                        class="submit"
                                        value="Post Comment"
                                    />
                                </p>
                            </form>
                        </div>
                    </div>

                    <div class="courses-review-comments">
                        <h3>3 Comments</h3>
                        <div class="user-review">
                            <img src="images/user1.jpg" alt="image" />
                            <div class="review-rating">
                                <div class="review-stars">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                </div>
                                <span class="d-inline-block"
                                    >James Anderson</span
                                >
                            </div>
                            <span class="d-block sub-comment">Excellent</span>
                            <p>
                                Very well built theme, couldn't be happier with
                                it. Can't wait for future updates to see what
                                else they add in.
                            </p>
                        </div>
                        <div class="user-review">
                            <img src="images/user2.jpg" alt="image" />
                            <div class="review-rating">
                                <div class="review-stars">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                </div>
                                <span class="d-inline-block">Sarah Taylor</span>
                            </div>
                            <span class="d-block sub-comment"
                                >Video Quality!</span
                            >
                            <p>
                                Was really easy to implement and they quickly
                                answer my additional questions!
                            </p>
                        </div>
                        <div class="user-review">
                            <img src="images/user3.jpg" alt="image" />
                            <div class="review-rating">
                                <div class="review-stars">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                </div>
                                <span class="d-inline-block">David Warner</span>
                            </div>
                            <span class="d-block sub-comment"
                                >Perfect Coding!</span
                            >
                            <p>
                                Stunning design, very dedicated crew who welcome
                                new ideas suggested by customers, nice support.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
