<div
    class="motivation-featured-area bg-with-black-color"
    [class.dark-motivation-featured-area]="themeService.isDark()"
>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon">
                        <i class="flaticon-checkmark"></i>
                    </div>
                    <h3>
                        <a routerLink="/single-course">Learn The Latest Skills</a>
                    </h3>
                    <p>Like business analytics, graphic design, Python, and more.</p>
                    <a routerLink="/single-course" class="featured-btn">View Courses +</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon">
                        <i class="flaticon-login"></i>
                    </div>
                    <h3>
                        <a routerLink="/single-course">100k Online Courses</a>
                    </h3>
                    <p>Like business analytics, graphic design, Python, and more.</p>
                    <a routerLink="/single-course" class="featured-btn">View Courses +</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon">
                        <i class="flaticon-credit-card"></i>
                    </div>
                    <h3>
                        <a routerLink="/single-course">Earn A Certificate</a>
                    </h3>
                    <p>Like business analytics, graphic design, Python, and more.</p>
                    <a routerLink="/single-course" class="featured-btn">View Courses +</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon">
                        <i class="flaticon-verify"></i>
                    </div>
                    <h3>
                        <a routerLink="/single-course">Up Your Skill</a>
                    </h3>
                    <p>With on-demand training and development programs.</p>
                    <a routerLink="/single-course" class="featured-btn">View Courses +</a>
                </div>
            </div>
        </div>
    </div>
</div>