<app-header-style-two />
<div
    class="page-title-area"
    style="background-image: url(images/page-title/page-title4.jpg)"
></div>

<div
    class="events-area pt-100 pb-75"
    [class.dark-events-area]="themeService.isDark()"
>
    <div class="container">
        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/1.jpg)"
                    >
                        <img src="images/events/1.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a>The Philippine Board of Nursing</a>
                        </h3>
                        <p>
                            A dedicated platform for nursing students and
                            professionals in the Philippines to stay updated on
                            official policies, licensure exams, regulations, and
                            standards set by the Philippine Board of Nursing.
                            Members can discuss board exam preparations, updates
                            on continuing education requirements, and key
                            regulatory changes impacting the nursing profession.
                            This group ensures that nursing professionals are
                            well-informed and compliant with the latest
                            guidelines and nursing laws.
                        </p>
                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/2.jpg)"
                    >
                        <img src="images/events/2.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a>Philippine Nurses Association – Cebu Chapter </a>
                        </h3>
                        <p>
                            This community provides a local support network for
                            nursing students and professionals in Cebu. It
                            serves as a hub for sharing regional healthcare
                            updates, job opportunities, professional development
                            events, and educational seminars. Members can
                            connect with peers, exchange experiences, and stay
                            informed about the latest nursing trends and news
                            specific to the Cebu area, including outreach
                            programs and networking opportunities within the
                            local nursing community.
                        </p>

                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/3.jpg)"
                    >
                        <img src="images/events/3.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a
                                >Philippine Nurses Association – Manila Chapter
                            </a>
                        </h3>
                        <p>
                            A vibrant group tailored for nurses in Manila,
                            offering discussions on the latest healthcare
                            trends, policy updates, and job opportunities in the
                            region. The Manila Chapter focuses on professional
                            growth, advocacy, and education, providing a space
                            for networking, career advancement, and support for
                            nursing students preparing for the NCLEX, board
                            exams, or other certifications. It also serves as a
                            gateway for participation in national-level nursing
                            initiatives and events.
                        </p>

                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/4.jpg)"
                    >
                        <img src="images/events/4.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a>University of Cebu </a>
                        </h3>
                        <p>
                            This group connects nursing students and alumni from
                            the University of Cebu, providing a space to share
                            academic resources, career advice, and updates on
                            university events. Members can discuss exam
                            preparations, clinical rotations, and internship
                            opportunities. The group also focuses on creating a
                            supportive network for current students and
                            graduates to exchange job leads, industry insights,
                            and tips for navigating the nursing profession in
                            the local and international sectors.
                        </p>
                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/5.jpg)"
                    >
                        <img src="images/events/5.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a
                                >University of Southern Philippines Foundation
                            </a>
                        </h3>
                        <p>
                            An academic-focused community where nursing students
                            from the University of Southern Philippines
                            Foundation can collaborate on study materials, share
                            clinical experiences, and get advice on licensure
                            exams. The group also provides updates on campus
                            events, job fairs, and workshops. Alumni can offer
                            guidance to current students on career pathways,
                            internships, and real-world nursing challenges. It's
                            a space for building lasting professional
                            connections among current students and graduates.
                        </p>

                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/6.jpg)"
                    >
                        <img src="images/events/6.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a>Objective Structured Clinical Exam (OSCE) </a>
                        </h3>
                        <p>
                            This group is dedicated to nursing students and
                            professionals preparing for the Objective Structured
                            Clinical Exam (OSCE). It provides resources, study
                            guides, and peer support for mastering clinical
                            skills assessed in the OSCE. Members can share
                            practice tips, discuss common challenges, and
                            participate in mock exams or feedback sessions. The
                            forum also offers advice from those who have
                            successfully completed the OSCE, helping others feel
                            confident and well-prepared for their exams.
                        </p>

                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-events-box mb-25">
            <div class="events-box">
                <div class="events-image">
                    <div
                        class="image"
                        style="background-image: url(images/events/7.jpg)"
                    >
                        <img src="images/events/7.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a>Leadership in Nursing </a>
                        </h3>
                        <p>
                            Focused on developing leadership skills in the
                            nursing profession, this group is ideal for students
                            and professionals aspiring to leadership roles.
                            Discussions include leadership styles, healthcare
                            management, team-building strategies, and
                            decision-making in clinical settings. Members can
                            share insights on leading teams, improving patient
                            outcomes, and navigating the complexities of
                            healthcare leadership. The group also provides
                            opportunities for mentorship, workshops, and
                            leadership development programs tailored to the
                            nursing profession.
                        </p>

                        <a routerLink="/single-event2" class="default-btn"
                            ><i class="bx bx-paper-plane icon-arrow before"></i
                            ><span class="label">Join Now</span
                            ><i class="bx bx-paper-plane icon-arrow after"></i
                        ></a>
                    </div>
                </div>
                <div class="events-date">
                    <div
                        class="courses-purchase-info"
                        style="background-image: url(images/mission-bg.jpg)"
                    >
                        <h4>
                            Interested in this course for your Business or Team?
                        </h4>
                        <p>
                            Train your employees in the most in-demand topics,
                            with edX for Business.
                        </p>
                        <a routerLink="/single-course" class="d-inline-block"
                            >Purchase now</a
                        >
                        <a routerLink="/single-course" class="d-inline-block"
                            >Request Information</a
                        >
                    </div>
                    <div>
                        <aside class="widget-area">
                            <div class="widget widget_events_details">
                                <ul>
                                    <li><span>Members:</span> 1254</li>
                                    <li><span>Last Post:</span> 12/10/2024</li>
                                    <li><span>Frequency:</span> Occasional</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
