<section
    class="mission-area ptb-100"
    [class.dark-mission-area]="themeService.isDark()"
    style="background-image: url(images/mission-bg.jpg)"
>
    <div class="container">
        <div class="mission-content">
            <div class="section-title text-start">
                <span class="sub-title">Discover Learning</span>
                <h2>Why our platform in better</h2>
            </div>
            <div class="mission-slides">
                <owl-carousel-o [options]="missionSlides">
                    <ng-template carouselSlide>
                        <h3>
                            Quality can be better than quantity in this platform
                        </h3>
                        <p>
                            Unlock a world of knowledge with our cutting-edge
                            platform, designed to offer an engaging, flexible,
                            and comprehensive learning experience. Whether
                            you're a student, educator, or organization, our
                            intuitive tools and interactive features empower
                            learners to grow at their own pace, anytime,
                            anywhere.
                        </p>
                        <p>
                            We believe in delivering quality over quantity. Our
                            platform prioritizes well-structured, expertly
                            curated courses that ensure deep learning and
                            lasting impact. With personalized learning paths,
                            progress tracking, and real-time feedback, we focus
                            on meaningful educational outcomes tailored to
                            individual goals.
                        </p>
                        <a routerLink="/" class="default-btn"
                            ><i class="bx bx-book-reader icon-arrow before"></i
                            ><span class="label">View Courses</span
                            ><i class="bx bx-book-reader icon-arrow after"></i
                        ></a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <h3>A place where you can achieve</h3>
                        <p>
                            One Place for All Your Learning Needs Our platform
                            is a one-stop solution where students can achieve
                            all their learning goals. From diverse course
                            offerings to interactive tools, we provide
                            everything needed to master new skills and enhance
                            knowledge, all in one convenient space.
                        </p>
                        <p>
                            Achieve Your Full Potential With personalized
                            learning paths, progress tracking, and expert
                            guidance, our platform ensures students have all the
                            resources they need to succeed. Whether you're
                            exploring new subjects or advancing your career,
                            this is the place to turn your learning aspirations
                            into reality.
                        </p>
                        <a routerLink="/" class="default-btn"
                            ><i class="bx bx-book-reader icon-arrow before"></i
                            ><span class="label">View Courses</span
                            ><i class="bx bx-book-reader icon-arrow after"></i
                        ></a>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
